Source: qtsystems
Section: libs
Priority: extra
Maintainer: Timo Jyrinki <timo-jyrinki@ubuntu.com>
Build-Depends: debhelper (>= 9.0.0),
               qtbase5-private-dev,
               qtdeclarative5-private-dev,
               qt5-default,
               pkg-kde-tools,
Standards-Version: 3.9.4
Homepage: http://qt-project.org/
Vcs-Git: git://anonscm.debian.org/pkg-kde/qt/qtsystems.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/qt/qtsystems.git;a=summary

Package: libqt5serviceframework5
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt Systems module - 
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the Service Framework part of the Qt Systems module.
 .
 WARNING: This module is not an official part of Qt 5, but instead a git 
 snapshot of an ongoing development. The package is very likely to 
 change in a binary incompatible way, and no guarantees are given.

Package: libqt5publishsubscribe5
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt Systems module - 
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the Publish Subscribe part of the Qt Systems module.
 .
 WARNING: This module is not an official part of Qt 5, but instead a git 
 snapshot of an ongoing development. The package is very likely to 
 change in a binary incompatible way, and no guarantees are given.

Package: libqt5systeminfo5
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt Systems module - 
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the System Info part of the Qt Systems module.
 .
 WARNING: This module is not an official part of Qt 5, but instead a git 
 snapshot of an ongoing development. The package is very likely to 
 change in a binary incompatible way, and no guarantees are given.

Package: qtsystems5-dev
Section: libdevel
Architecture: any
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libqt5serviceframework5 (= ${binary:Version}),
         libqt5publishsubscribe5 (= ${binary:Version}),
         libqt5systeminfo5 (= ${binary:Version}),
         qtbase5-dev,
         ${misc:Depends}
Description: Qt 5 Systems development files
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the header development files used for building Qt 5
 applications using Qt Systems libraries.
 .
 WARNING: This module is not an official part of Qt 5, but instead a git 
 snapshot of an ongoing development. The package is very likely to 
 change in a binary incompatible way, and no guarantees are given.

Package: qtsystems5-private-dev
Architecture: any
Section: libdevel
Pre-Depends: dpkg (>= 1.15.6~)
Depends: qtsystems5-dev (= ${binary:Version}),
         ${misc:Depends},
Description: Qt 5 Systems private development files
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the private header development files for building some
 Qt 5 applications using systems private headers.
 .
 Use at your own risk.
 .
 WARNING: This module is not an official part of Qt 5, but instead a git 
 snapshot of an ongoing development. The package is very likely to 
 change in a binary incompatible way, and no guarantees are given.

Package: qtsystems5-tools
Architecture: any
Section: libdevel
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends}
Depends: libqt5serviceframework5 (= ${binary:Version}),
         libqt5publishsubscribe5 (= ${binary:Version}),
         libqt5systeminfo5 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Qt 5 Systems tools
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the sfwlisten and servicefw tools for Qt 5 
 Systems module.
 .
 WARNING: This module is not an official part of Qt 5, but instead a git 
 snapshot of an ongoing development. The package is very likely to 
 change in a binary incompatible way, and no guarantees are given.

Package: qtsystems5-examples
Architecture: any
Section: libdevel
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Qt 5 Systems examples
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the examples for Qt 5 Systems.
 .
 WARNING: This module is not an official part of Qt 5, but instead a git 
 snapshot of an ongoing development. The package is very likely to 
 change in a binary incompatible way, and no guarantees are given.

Package: qtsystems5-dbg
Priority: extra
Architecture: any
Section: debug
Depends: libqt5serviceframework5 (= ${binary:Version}),
         libqt5publishsubscribe5 (= ${binary:Version}),
         libqt5systeminfo5 (= ${binary:Version}),
         ${misc:Depends}
Suggests: qtsystems5-examples (= ${binary:Version})
Description: Qt Systems library debugging symbols
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the debugging symbols for the Qt 5 Systems
 libraries.
 .
 WARNING: This module is not an official part of Qt 5, but instead a git 
 snapshot of an ongoing development. The package is very likely to 
 change in a binary incompatible way, and no guarantees are given.

